  .board {
    display: flex;
    flex-direction: column;
    display: flex;
    width: 640px;
    /* Larghezza della scacchiera */
    height: 640px;
    max-width: 640px;
    /* Larghezza massima */
    margin: auto;
    /* Centra la scacchiera */
    cursor: grab;
  }

  .square {
    width: 80px;
    height: 80px;
    position: relative; /* Aggiunto il posizionamento relativo */
  }

  .light {
    background-color: #b1b1b1;
  }

  .dark {
    background-color: #874040;
  }

  .piece {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: grab;
    position: absolute;
    user-select: none;
  }

  .bordoScacchiera {
    border: 10px solid rgb(41, 41, 41);
  }

  .row {
    display: flex;
  }

  .highlighted {
    box-shadow: inset 0 0 10px rgba(255, 255, 0, 0.8); /* Ombra gialla interna */
    transition: box-shadow 0.2s ease; /* Animazione di transizione */
}